<div class="container">
  <div class="row">
    <div id="about-content">
      <section id="steps-content">
      <div class="col-md-12">
          <h3 class="text-center">
            Our goal is to deliver everything you need to have a great vaping experience every month.
          </h3>
      </div>

      <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">

        <p>
      <h4>Vapor Box is a service for adults who want and expect an awesome vaping experience without the hassles.</h4>
      </p>
      <p><h4>
      We started this company after being frustrated with trying to find delicious smoke juices while keeping up with maintaining our hardware.</h4></p> 

      <p><h4>
      We started this company after seeing many of our friends and family try electronic cigarettes and vaping but eventually fall back to tobacco smoke simply because their first few experiences were less than stellar or they thought it was too much of a hassle. We want to change that by providing great hardware and great juices so that vaping becomes a no brainer choice over tobacco smoking. 
       </h4></p>
      </div>


        <div class="col-md-4">
      <h5></h5>
      </div>

      </div>
      </div>


      </section>
    </div>
  </div>
</div>
