<div class='row'>

	<div class='container faq-content'>
	<h2>Frequently Asked Questions</h2>
		<div class='col-md-6'>
			<h3>What is a Vapor Box?</h3>
			<div>
			<p>Vapor Box is a box of essential vaping supplies that are delivered to your door every month. The first shipment is a ONE-TIME ORDER. Depending on the plan, a Vapor Box can include 2, 3, or 4 smoke juice bottles that are hand picked by our staff. Additional hardware and supplies can be included in the box each month as a one time or recurring add on. Vapor Box is completely customizable according to your vaping tastes and hardware needs. If you're new to vaping, we also provide high quality and reliable starter kits that produce wonderful vapor for a reasonable price.</p>
			</div>

			<h3>What's in the Vapor Box starter kit?</h3>
<div>
<p>Our starter kits include everything you need for a great vaping experience. It includes 2 eGo batteries, a complete Mini Protank 2 set, and charger. This setup is regarded by the vaping community as a great way to get into the more advanced models.</p>
</div>

<h3>What accessories will we get?</h3>
<div>
<p>We're working on obtaining high-end accessories from the most reputable manufactureres in the industry. For now, we are starting with Kanger products, offering the Protank II, Protank Mini, and respective coils. We plan on adding other suppliers according to our user's needs.</p>
</div>

<h3>What juices will we get?</h3>
<div>
<p>Every month, you will receive a hand picked juice according to the flavor profile selected. Vapor Box will only supply high quality juices from US based manufacturers. We aim to supply mostly 50%+ VG based juices.</p>
</div>


<h3>How much does a Vapor Box cost?</h3>
<div>
<p>Vapor Box offers 3 plans according to the number of juices in each box. $19.99 for 2, 15ML bottles, $29.99 for 3, 15ML bottles, and $39.99 for 4, 15ML bottles. Shipping costs are always included.</p>
</div>

<h3>What if I made a mistake in my order or shipping address?</h3>
<div>
<p>Please contact us at help@getvaporbox.com and we can fix any issues you have.</p>
</div>

		</div>
		<div class='col-md-6'>



<h3> What ingredients do we use in our juices?</h3>
<div>
<p>That depends on the specific smoke juice maker but we aim to find suppliers who provide 50%+ VG based juices. Each Vapor Box will include a rundown on each of the juices included, for your reading pleasure.</p>
</div>

<h3>Do you ship internationally?</h3>
<div>
<p>No, this product is currently only limited to the United States.</p>
</div>

<h3>Does the price include sales tax and shipping?</h3>
<div>
<p>The price at checkout includes sales tax and shipping for U.S. customers only.</p>
</div>

<h3>What is your policy on refunds?</h3>
<div>
<p>Please contact us at help@getvaporbox.com using the same email you registered with.</p>
</div>

<h3>How do I get help or support?</h3>
<div>
<p>Please email us at help@getvaporbox.com.</p>
</div>

<h3>How do I get in touch about potential partnerships?</h3>
<div>
<p>Please email us at biz@getvaporbox.com.</p>
</div>

<h3>How can I be notified about new features?</h3>
<div>
<p>Please follow us on <a href="www.twitter.com/vaporbox">Twitter</a> or like us on <a href="www.facebook.com/getvaporbox.com">Facebook</a>.</p>
</div>
		</div>
	</div>
</div>





