.row
  .col-md-12
    .text-center
      %h1
        Never Worry About Buying E-cig Accessories Again
      %h4
        Vapor Box delivers e-cigarette juices and supplies to your door every month. Build a personalized subscription plan that fits your setup.
.row
  .col-md-4
    .feature.text-center
      %i.fa.fa-tint.fa-5x
      %h4
        Pick Your Flavors
      %p
        Select the flavors and nicotine level of your juices to be delivered every month. You can add or take out flavors for your box as you please.
  .col-md-4
    .feature.text-center
      %i.fa.fa-plus.fa-5x
      %h4
        Select Your Add-ons
      %p
        You can choose to have fresh new atomizers and tanks delivered to your door every month. Options to choose monthly recurring or a one time add on.
  .col-md-4
    .feature.text-center
      %i.fa.fa-truck.fa-5x
      %h4
        Consistent Delivery
      %p
        Don't worry about running out of your accessories or flavors again. Your e-juice and supplies will be delivered to you on the 1st of every month.