- content_for :stylesheets do 
  = stylesheet_link_tag 'locals/home' 
#home-content
  .row
    .col-md-12
      .container
        .main-text.text-center
          %h1
            Have you tried e-cigs but have gone back to tobacco because of all the hassles?
          %h4
            VaporBox delivers e-cigarette juices and supplies to your door every month. Build a personalized subscription plan that fits your setup. If you're new to vaping, we provide high quality starter kits for reasonable prices. 
          %button.button.button-gray{type: "button"}
            %a{href: "/signup"} Get Started
  .row.features-section
    .container.features-block
      .col-md-4
        .feature.text-center
          %i.fa.fa-tint.fa-5x
          %h4
            Pick Your Flavors
          %p
            Select the flavors and nicotine level of your juices that you prefer, or choose the surprise variety pack.
      .col-md-4
        .feature.text-center
          %i.fa.fa-plus.fa-5x
          %h4
            Select Your Add-ons
          %p
            Choose the atomizers and tanks that you use for recurring or one-time delievery. 
      .col-md-4
        .feature.text-center
          %i.fa.fa-truck.fa-5x
          %h4
            Consistent Delivery
          %p
            Your e-juice and supplies will be delivered to you on the 1st of every month. Never worry about running out again.
  #testimonial
    .row
      .container
        .col-md-8.col-md-offset-2
          .main-text.text-center.testimonial
            “I didn't think Vapor Box would work for me. When I tried vaping for a few weeks, it was just too hard. There were so many starter kits, juices, and all kinds of accessories that I didn't have a clue about. Now, I just get what I need every month and don't have to think about it. I haven't smoked a real cigarette in over a month."
            .signature
              = "- James F. from New York"