.row
  .col-md-12
    .text-center
      %h1
        Some Text
.row
  .col-md-4
    .feature.text-center
      %img{:class => 'img-circle', style: 'width:140px;height:140px;'}
      %h4
        Feature text
  .col-md-4
    .feature.text-center
      %img{:class => 'img-circle', style: 'width:140px;height:140px;'}
      %h4
        Feature text
  .col-md-4
    .feature.text-center
      %img{:class => 'img-circle', style: 'width:140px;height:140px;'}
      %h4
        Feature text