- content_for :stylesheets do 
  = stylesheet_link_tag 'locals/home' 
#home-content
  .row
    .col-md-12
      .container
        .main-text.text-center
          %h1
            Never Worry About E-cig Accessories Again
          %h4
            VaporBox delivers e-cigarette juices and supplies to your door every month. Build a personalized subscription plan that fits your setup.
          %button.button.button-gray{type: "button"}
            %a{href: "/signup"} Get Started
  .row.features-section
    .container.features-block
      .col-md-4
        .feature.text-center
          %i.fa.fa-tint.fa-5x
          %h4
            Pick Your Flavors
          %p
            Select the flavors and nicotine level of your juices that you prefer, or choose the surprise variety pack.
      .col-md-4
        .feature.text-center
          %i.fa.fa-plus.fa-5x
          %h4
            Select Your Add-ons
          %p
            Choose the atomizers and tanks that you use for recurring or one-time delievery. 
      .col-md-4
        .feature.text-center
          %i.fa.fa-truck.fa-5x
          %h4
            Consistent Delivery
          %p
            Your e-juice and supplies will be delivered to you on the 1st of every month. Never worry about running out again.
  #testimonial
    .row
      .container
        .col-md-12