#how-it-works-content
  %section#steps-content 
    .row
      .col-md-12
        .container.text-center
          %h1
            Get your personalized Vapor Box in three easy steps.
    .row
      .col-md-6.col-md-offset-3
        .steps-container
          .circle
            1
          .steps-description
            .header
              Get a Starter Kit
            .description
              We provide high quality starter kits if you need it. You will get everything you need to start vaping in one box. This includes batteries, a reliable tank, and charger. You won't be disappointed.
        .steps-container
          .circle
            2
          .steps-description
            .header
              Select Your Box Plan
            .description
              Choose the number of smoke juice bottles you want in your box every month. Pick from 2, 3, or 4 bottles per month. This is a one time purchase, you can choose to subscribe later on. 
        .steps-container
          .circle
            3
          .steps-description
            .header
              Choose Your Flavor Palette
            .description
              Pick the flavor profiles you want in your box like Tobacco, Menthol, Fruit, or Dessert. We'll send over delicious juices according to your taste. 
        .steps-container
          .circle
            4
          .steps-description
            .header
              Add Hardware
            .description
              Add on your essential hardware like atomizers, coils, or tanks to be included in the box.
        .steps-container
          .circle
            5
          .steps-description
            .header
              Vape Like a Champ
            .description
              Never worry about ordering juices or supplies for your vaping device. No more shipping fees from multiple vendors, we'll make sure you have a great vaping experience. 