%section#steps-content 
  .row
    .col-md-12
      .container.text-center
        %h1
          Get your personalized e-cig box in three easy steps.
  .row
    .col-md-6.col-md-offset-3
      .steps-container
        .circle
          1
        .steps-description
          .header
            Create your personalized box
          .description
            You choose from different
      .steps-container
        .circle
          2
        .steps-description
          .header
            Create your personalized box
          .description
            You choose from different
      .steps-container
        .circle
          3
        .steps-description
          .header
            Create your personalized box
          .description
            You choose from different