     <div class="container"> 
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Starter Kits.<span class="text-muted"> Everything you need in one box.</span></h2>
          <p class="lead">Our starter kits include the best batteries and tanks for high quality vaping. It includes 2 eGO style batteries, a USB charger, and a Kanger Mini-Protank 2 Set. You'll enjoy a nice and smooth vape experience that produces excellent flavor.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="http://getvaporbox.com/assets/miniprotank-starter.jpg" alt="Generic placeholder image" width="400" height="400">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="http://getvaporbox.com/assets/miniprotank2-glamour.jpg" alt="Generic placeholder image" width="300" height="300">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">This is included in the starter kit. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">We have everything you need to enjoy a good vaping experience. We provide replacement coils and tanks, whenever you need them.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="http://getvaporbox.com/assets/brands.png">And lastly, the juice. <span class="text-muted">Hand Picked, US Made.</span></h2>
          <p class="lead">We provide high quality juices from US vendors that will surely satisfy. We hand pick flavors according to your flavor profile and learn every month, what you liked and didn't like.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">
    </div>