     <div class="container"> 
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Starter Kits.<span class="text-muted"> Everything you need in one box.</span></h2>
          <p class="lead">Our starter kits include the best batteries and tanks for high quality vaping. It includes 2 eGO style batteries, a USB charger, and a Kanger Mini-Protank 2 Set. You'll enjoy a nice and smooth vape experience that produces excellent flavor.</p>
        </div>
        <div class="col-md-5">
          <%= image_tag 'miniprotank-starter.jpg', size: "400x400", alt: 'Starter Kit Image', class: 'featurette-image img-responsive' %>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <%= image_tag 'miniprotank2-glamour.jpg', size: "300x300", alt: 'Pro Tank Image', class: 'featurette-image img-responsive' %>
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">This is included in the starter kit. <span class="text-muted">Great vapor, intense flavor.</span></h2>
          <p class="lead">We have everything you need to enjoy a good vaping experience. We provide replacement coils and tanks, whenever you need them.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, the juice. <span class="text-muted">Hand Picked, US Made.</span></h2>
          <p class="lead">We provide high quality juices from US vendors that will surely satisfy. We hand pick flavors according to your flavor profile and learn every month, what you liked and didn't like.</p>
        </div>
        <div class="col-md-5">
          <%= image_tag 'brands.png', alt: 'Brands Image', class: 'featurette-image img-responsive' %>
        </div>
      </div>

    </div>