#signup-content
  .row
    .col-md-12
      .container
        .steps-container
          #step-1.steps-wrapper
            .steps-header
              Step 1
            .steps-content
          #step-2.steps-wrapper
            .steps-header
              Step 2
          #step-3.steps-wrapper
            .steps-header
              Step 3
          #step-4.steps-wrapper
            .steps-header
              Step 4
          #step-5.steps-wrapper
            .steps-header
              Step 5