#signup-content
  .row
    .col-md-12
      .container
        .steps-container
          #step-1.steps-wrapper
            .steps-header
              .step-text
                Step 1 - Plan
              .items-container
            .steps-content
          #step-2.steps-wrapper
            .steps-header
              .step-text
                Step 2 - Flavors
              .items-container
          #step-3.steps-wrapper
            .steps-header
              .step-text
                Step 3 - Accessories
              .items-container
          #step-4.steps-wrapper
            .steps-header
              .step-text
                Step 4 - Shipping
              .items-container
                #shipping-cost
                #subtotal-price
          #step-5.steps-wrapper
            .steps-header
              .step-text
                Step 5 - Finish
              .items-container
                #total-price