    <% _.each(collection, function(item) { %>
    <ul>
        <li><%= item.name %></li>
        <li><%= item.cost %></li>

    </ul>
    <% }); %>
    <div class='step-actions'>
      <button class="back">Back</button>
      <button class="form-continue">Continue to Form</button>
    </div>
