<div class="row">
  <div class="col-md-6">
    <div id="errors"></div>
    <form id="payment-form">
      <span class="payment-errors"></span>

      <div class="field">
        <label>
          <span>Card Number</span>
          <input type="text" size="30" data-stripe="number"/>
        </label>
      </div>

      <div class="field">
        <label>
          <span>CVC</span>
          <input type="text" size="4" data-stripe="cvc"/>
        </label>
      </div>

      <div class="form-row">
        <label>
          Expiration (MM/YY)
        </label>
        <div>
          <input type="text" size="2" data-stripe="exp-month"/>
          <span>/</span>
          <input type="text" size="2" data-stripe="exp-year"/>
        </div>
      </div>

    </form>

  </div>
  <div class="col-md-6">
    <div class="total-container">
      <div class="one-time">
        Your one-time add-ons cost $<%= (total.oneTime/100).toFixed(2) %>
      </div>      
      <div class="one-time">
        You will be billed monthly for $<%= (total.monthly/100).toFixed(2) %>
      </div>
      <div class="total">
        Your total for your first box is $<%= (total.total/100).toFixed(2) %>
      </div>
    </div>
  </div>
</div>

<div class='step-actions'>
  <button class="back button button-black">Back</button>
  <button id="process-registration" class="button button-green">Submit</button>  
</div>