<form accept-charset="UTF-8" action="/" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="F4akS//Uyog55cwypfB29/1RMBDNRRde/atDuuFoSLA="></div>
  <div class="field">
    <label for="cc">CREDIT</label>
    <input id="cc" name="cc" type="text">
  </div>

</form>
<button class="back">Back</button>