<form accept-charset="UTF-8" action="/" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="F4akS//Uyog55cwypfB29/1RMBDNRRde/atDuuFoSLA="></div>
  <div class="field">
    <label for="email">Email</label>
    <input id="email" name="email" type="email">
  </div>
  <div class="field">
    <label for="password">Password</label>
    <input id="password" name="password" type="password">
  </div>
  <div class="field">
    <label for="address">Address</label>
    <input id="address" name="address" type="text">
  </div>
  <div class="field">
    <label for="city">City</label>
    <input id="city" name="city" type="text">
  </div>
  <div class="field">
    <label for="zip">Zip</label>
    <input id="zip" name="zip" type="text">
  </div>
  <div class="field">
    <label for="product_name">Product name</label>
    <input id="product_name" name="product_name" type="text">
  </div>
  <div class="field">
    <label for="quantity">Quantity</label>
    <input id="quantity" name="quantity" type="number">
  </div>
</form>