<form accept-charset="UTF-8" >
  <div class="field inline no-margin">
    <label for="first_name">First Name</label>
    <input id="first-name" size="32" name="first_name" type="text">
  </div>
  <div class="field inline">
    <label for="last_name">Last Name</label>
    <input id="last-name" size="32" name="last_name" type="text">
  </div>
  <h4>Billing Address</h4>
  <div class="field">
    <label for="address1">Address Line 1</label>
    <input id="address1" name="address1" size="70" type="text">
  </div>
  <div class="field">
    <label for="address2">Address Line 2</label>
    <input id="address2" name="address2" size="70" type="text">
  </div>
  <div class="field inline no-margin">
    <label for="city">City</label>
    <input id="city" name="city" type="text">
  </div>
  <div class="field inline">
    <label for="state">State</label>
    <input id="state" name="state" size="2" type="text">
  </div>
  <div class="field inline">
    <label for="zip">Zip</label>
    <input id="zip" name="zip" type="text">
  </div>
  <h4>Shipping Address</h4>
  <div class="form-row extra-margin-top">
    <input type="checkbox" id="ship-address-check" name="ship-address-check" value="true" checked>Same as Billing Address
  </div>
  <div id="ship-address-form">
    <div class="field">
      <label for="ship_address1">Address Line 1</label>
      <input id="ship-address1" size="70" name="ship_address1" type="text">
    </div>
    <div class="field">
      <label for="ship_address2">Address Line 2</label>
      <input id="ship-address2"  size="70" name="ship_address2" type="text">
    </div>
    <div class="field inline no-margin">
      <label for="ship_city">City</label>
      <input id="ship-city" size="25" name="ship_city" type="text">
    </div>
    <div class="field inline">
      <label for="ship_state">State</label>
      <input id="ship-state" name="ship_state" size="2" type="text">      
    </div>
    <div class="field inline">
      <label for="ship_zip">Zip</label>
      <input id="ship-zip" name="ship_zip" type="text">
    </div>
  </div>
  <h4>Create Account</h4>
  <div class="field">
    <label for="email">Email</label>
    <input id="email" size="32" name="email" type="email">
  </div>
  <div class="field">
    <label for="password">Password</label>
    <input id="password" size="32" name="password" type="password">
  </div>
  <div class="field">
    <label for="password_confirmation">Confirm Password</label>
    <input id="password-confirmation" size="32" name="password_confirmation" type="password">
  </div>
</form>
<div class='step-actions'>
<button class="back button button-black">Back</button>
<button class="continue button button-green">Continue</button>
</div>
