<% if (currentStep == 2) { %>
<div>
  Level Select
  <select id='flavor-level-select'>
    <option value="0">0</option>
    <option value="20">20</option>
    <option value="40">40</option>
    <option value="100">100</option>
  </select>
</div>
<% } %>
<ul class='products-container'>

</ul>

<div class='step-actions'>
  <% if (currentStep > 1) { %>
  <button class="back">Back</button>
  <% } %>
  <% if (currentStep < 5) { %>
  <button class="continue">Continue</button>
  <% } %>
</div>