<div id="errors"></div>
  
<ul class='products-container'>

</ul>

<div class='step-actions'>
  <% if (currentStep > 1) { %>
  <button class="back button button-black">Back</button>
  <% } %>
  <% if (currentStep < 5) { %>
  <button class="continue button button-black">Continue</button>
  <% } %>
</div>
<div class='clearfix'></div>