<div id="errors"></div>
  
<ul class='products-container'>

</ul>

<div class='step-actions'>
  <% if (currentStep > 1) { %>
  <button class="back">Back</button>
  <% } %>
  <% if (currentStep < 5) { %>
  <button class="continue">Continue</button>
  <% } %>
</div>