<div id="contact-content">
  <section id="steps-content">
    <div class="row">
      <div class="col-md-12">
        <div class="container text-center">
          <h1>
            Hello.
          </h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="steps-container">
          <div class="steps-description">
            <div class="description">

            <p>If you have any questions, concerns, ideas, or just want to talk about life in general, feel free to contact us here:</p>
            
<%= form_for @message, :url => contact_path do |form| %>


  <fieldset class="fields">
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
    
    <div class="field">
      <%= form.label :email %>
      <%= form.text_field :email %>
    </div>
    <div class="field">
      <%= form.label :subject %>
      <%= form.text_field :subject %>
    </div>
    
    <div class="field">
      <%= form.label :body %>
      <%= form.text_area :body %>
    </div>
  </fieldset>
  
  <fieldset class="actions">
    <%= form.submit "Send" %>
  </fieldset>
<% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
