// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main-content {
  margin-top: -20px;
}
.banner {
  background: url('ecig.jpg') no-repeat center center;
  height: 500px;
  .main-text {
    color: #FAFAFA; 
    background: #415983;
    margin: 100px auto;
    width: 75%;
    padding: 50px;
    height: 250px;
    opacity: .8;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    h1 {
      margin-top: 0px;
    }

    h4 {
      margin-top: 20px;
    }
  }
}

.features-block {
  padding: 50px 0;
  .feature i {
    color: #415983;
  }
}