// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main-content {
  margin-top: -20px;
}
  #home-content {
  .features-section {
    background: #FAFAFA;
    padding: 50px 0;
  }
  .main-text {
    color: #FAFAFA; 
    background: #415983;
    margin: 100px auto;
    width: 75%;
    padding: 50px;
    opacity: .8;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    h2 {
      margin-top: 0px;
    }

    h4 {
      margin-top: 20px;
      line-height: 1.5em;
    }
  }

  #testimonial {
    height: 350px;
    padding: 50px 0;
  }
  .features-block {
    padding: 50px 0;
    .feature i {
      color: #415983;
    }
  }
}
#how-it-works-content {
  #steps-content {
    color: #424242;
    padding: 50px 0;
    .steps-container {
      margin: 40px auto; 
      .steps-description, .circle {
        display: inline-block;
      }
      .steps-description {
        position: absolute;
        padding: 5px 20px;
        font-size: 1.8em;
        .header {
          line-height: 1.4em;
        }
        .description {
          margin-top: 15px;
          font-size: 15px;
        }
      }
    }
    .circle {
      width:80px;
      height:80px;
      border-radius:40px;
      font-size:40px;
      color:#fafafa;
      line-height:80px;
      text-align:center;
      background:#687CA5;
      font-weight: bold;
    }
  }
}

#signup-content {
  .steps-header {
    padding: 10px;

  }
  .steps-wrapper {
    border: 1px solid #000;
  }
}

